In [3]:
import requests
import pandas as pd
from lxml import etree

### Load and explore the data

In [4]:
remote = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
local = '//Users/xiatian/Downloads/List of postal codes of Canada_ M - Wikipedia.htm'
# text = open(url,'r')

def for_remote():
    res = requests.get(remote)
    return res.text

def for_local():
    with open(local,'r') as f:
        text = f.read()
    return text


tree = etree.HTML(for_local())
trs = tree.xpath('//table[@class="wikitable sortable"]/tbody/tr')
arr = []
for tr in trs:
    info = tr.xpath('.//td')
    if len(info) == 0:
        continue
    else:
        arr.append(str(tr.xpath('string()')).strip('\n').split('\n'))
df = pd.DataFrame(arr,index=list(range(0,len(arr))),columns=list(['Postcode','Borough','Neighbourhood']))

### Create Dataframe

In [5]:
df = df.loc[df['Borough'] != 'Not assigned']
df.reset_index(drop=True)

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M5A  Downtown Toronto               Regent Park
4        M6A        North York          Lawrence Heights
..       ...               ...                       ...
206      M8Z         Etobicoke  Kingsway Park South West
207      M8Z         Etobicoke                 Mimico NW
208      M8Z         Etobicoke        The Queensway West
209      M8Z         Etobicoke     Royal York South West
210      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

### Replace Neighbourhood which value is 'Not assigned' with borough's value in the same row

In [6]:
df.loc[df['Neighbourhood'] == 'Not assigned','Neighbourhood'] = df.loc[df['Neighbourhood'] == 'Not assigned','Borough']
df_g = df.groupby('Postcode')
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

### Combine neighbourhood which has same postcode

In [8]:
for key,v in enumerate(df_g.groups):
    temp_str = ''
    for nei in df.loc[df['Postcode'] == v,'Neighbourhood'].values:
        temp_str += nei + ','
    temp_str = temp_str.strip(',')
    df.loc[df['Postcode'] == v, 'Neighbourhood'] = temp_str
df = df.drop_duplicates(keep = 'first')
df = df.reset_index(drop = True)
df

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront,Regent Park"
3,M6A,North York,"Lawrence Heights,Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
...,...,...,...
98,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout..."
102,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."

### Show Dataframe's shape

In [9]:
df.shape

(103, 3)